* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow/Barlow-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow/Barlow-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hemi Head";
  src: url("/fonts/hemi_head/Hemi-Head-Bd It.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --blue-sapphire: #0f5c8c;
  --oxford-blue: #072a40;
  --davys-grey: #565958;
  --quick-silver: #9fa6a2;
  --smoky-black: #0d0d0d;
  --white: #ffffff;
  --black: #000000;

  --font-barlow: "Barlow", sans-serif;
  --font-hemi-head: "Hemi Head", sans-serif;

  --full-height: 100vh;
}

@supports (height: 100dvh) {
  :root {
    --full-height: 100dvh;
  }
}

html {
  font-size: calc(100vw / 1920 * 10);
  font-family: var(--font-hemi-head);

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1024px) {
    font-size: calc(100vw / 1024 * 7);
  }

  @media (max-width: 600px) {
    font-size: calc(100vw / 414 * 10);
  }
}

body {
  position: relative;
  overflow-x: clip;
  background: var(--smoky-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    overflow: hidden;
  }
}

// Smooth Scroll Wrapper
#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  overflow: visible;
}

input,
button,
textarea,
select {
  background: none;
  color: inherit;
  border: 0;
  padding: 0;
  font: inherit;
  outline: none;
  appearance: none;
}

button,
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

button:disabled,
[aria-disabled="true"] {
  cursor: not-allowed;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
